<%- include('layout/header')%>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
          <div class="card shadow">
            <div class="card-header bg-primary">
              <h3 class="text-light">Add New Users</h3>
            </div>
            <div class="card-body p-4">
              <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Name" required/>
                </div>

                <div class="mb-3">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter email" required/>
                </div>

                <div class="mb-3">
                  <label for="phone">Phone</label>
                  <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Enter phone" required/>
                </div>

                <div class="mb-3">
                  <label for="image" class="form-label">Select Image</label>
                  <input  type="file" name="image" class="form-control form-control-lg" placeholder="Enter phone" required/>
                </div>

                <div class="mb-3 d-grid">
                  <input  type="submit" name="submit" value="Add Users" class="btn btn-primary btn-lg" />
                </div>

              </form>


            </div>

          </div>
            

        </div>
        <!-- <section class="vh-100" style="background-color: #2779e2;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
          
                  <h1 class="text-white mb-4">Add New User</h1>
          
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
          
                      <div class="row align-items-center pt-4 pb-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Full name</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input type="text" class="form-control form-control-lg" />
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Email address</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input type="email" class="form-control form-control-lg" placeholder="example@example.com" />
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Phone number</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
                            <input type="tel" name="phone" class="form-control form-control-lg" placeholder="enter phone" required/>

          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="row align-items-center py-3">
                        <div class="col-md-3 ps-5">
          
                          <h6 class="mb-0">Upload Image</h6>
          
                        </div>
                        <div class="col-md-9 pe-5">
          
                          <input class="form-control form-control-lg" id="formFileLg" type="file" />
                          
          
                        </div>
                      </div>
          
                      <hr class="mx-n3">
          
                      <div class="px-5 py-4">
                        <button type="submit" class="btn btn-primary btn-lg">Add User</button>
                      </div>
          
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
          </section> -->


    </div>

</div>
<%- include('layout/footer') %>